<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Qleverlabs Technologies</title>
	<!-- description -->
	<meta name="description" content="Qleverlabs is a curation of finding new inovative ways to achive your objectives via our sercices such as Website development, Application development, IOT">
	<!-- keywords -->
	<meta name="keywords" content="Mobile application, Website development, Android, IOS, HTML5, Information technologies, Mumbai, Bengaluru, Webdesign Agency, Applciation development comapny, Software development, IOT">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<!-- ++++ favicon ++++ -->
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon.ico">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon.ico">
	
	<!-- custom qlabs made css -->
	<link rel="stylesheet" href="css/customqleverlabs.css" />
    <!-- ++++ bootstrap ++++ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- ++++ font IcoMoon ++++ -->
    <link rel="stylesheet" href="css/fonts.css" />
    <!-- ++++ style ++++ -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- ++++ [if IE]>
        <script src="js/html5shiv.js"></script>
        <![endif] ++++ -->

		
</head>

<body class="blog-version-2">
   
		
			<%- include('topheader') %>	

			<div class="cleardiv"></div>

    <!-- ++++ Most Bold Title ++++ -->
    <section class="blog-title">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- ++++ Most Bold Title ++++ -->
    <!-- ++++ blog content ++++ -->
    <section class="bg-white o-hidden blog-p2 blog-content">
        <!--blog content row one-->
        <div class="container">
            <!--section title -->
            <h2 class="b-clor">Design Category</h2>
            <hr class="dark-line" />
            <!--end section title -->
            <div class="row">
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight is-featured">
                        <img src="images/blog/blog-img-1.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>31 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">How to design effective teams?</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight">
                        <img src="images/blog/blog-img-2.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>28 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">Elevating design through training</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight">
                        <img src="images/blog/blog-img-3.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>31 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">Design is not a department but everything</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <a href="#" class="btn btn-fill full-width">load more</a>
                </div>
                <!--end blog content box-->
            </div>
        </div>
        <!--end blog content row one-->
    </section>
    <section class="bg-white o-hidden blog-p2 blog-content">
        <!--blog content row two-->
        <div class="container">
            <!--section title -->
            <h2 class="b-clor">Development Category</h2>
            <hr class="dark-line" />
            <!--end section title -->
            <div class="row">
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight is-featured">
                        <img src="images/blog/blog-img-4.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>31 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">Free course Designing with your developer in mind</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight">
                        <img src="images/blog/blog-img-5.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>28 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">Dealing with development disagreements</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight">
                        <img src="images/blog/blog-img-6.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>31 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">What makes you a design leader?</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <div class="col-xs-12">
                    <a href="#" class="btn btn-fill full-width">load more</a>
                </div>
            </div>
        </div>
        <!--end blog content row two-->
    </section>
    <section class="bg-white o-hidden blog-p2 blog-content blog-seo-cat">
        <!--blog content row three-->
        <div class="container">
            <!--section title -->
            <h2 class="b-clor">SEO Category</h2>
            <hr class="dark-line" />
            <!--end section title -->
            <div class="row">
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight is-featured">
                        <img src="images/blog/blog-img-7.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>31 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">Why you’re losing ranking to low quality websites</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight">
                        <img src="images/blog/blog-img-8.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>28 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">Who is an online marketing consultant?</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <!--blog content box-->
                <div class="col-xs-12 col-sm-4">
                    <div class="box-content-with-img equalheight">
                        <img src="images/blog/blog-img-9.jpg" class="img-responsive" alt="blog image" />
                        <div class="box-content-text">
                            <p class="gray-text">
                                <span class="icon-calendar-full"></span>31 August, 2016</p>
                            <h3 class="semi-bold">
                                <a href="blog-details-version-2.html">How mobile marketing can help your business?</a>
                            </h3>
                            <p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!--end blog content box-->
                <div class="col-xs-12">
                    <a href="#" class="btn btn-fill full-width">load more</a>
                </div>
            </div>
        </div>
        <!--end blog content row three-->
    </section>
    <!-- ++++ end blog content ++++ -->
   
	<%- include('bottomfooter') %>


    <!--get a quote modal-->
    <div class="modal fade verticl-center-modal" id="getAQuoteModal" tabindex="-1" role="dialog" aria-labelledby="getAQuoteModal">
        <div class="modal-dialog getguoteModal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="icon-cross-circle"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="customise-form">
                                <form>
                                    <h3>Get a Free Quote</h3>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-user"></span>
                                        <input class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-envelope"></span>
                                        <input class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-telephone"></span>
                                        <input class="form-control" placeholder="Phone">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-laptop"></span>
                                        <input class="form-control" placeholder="Website">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-bubble"></span>
                                        <textarea class="form-control" placeholder="Message"></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-fill full-width">GET A QUOTE
                                            <span class="icon-chevron-right"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>What’s Next?</h3>
                            <ul class="list-with-arrow">
                                <li>An email and phone call from one of our representatives.</li>
                                <li>A time & cost estimation.</li>
                                <li>An in-person meeting.</li>
                            </ul>
                            <div class="contact-info-box-wrapper">
                                <div class="contact-info-box">
                                    <span class="icon-telephone"></span>
                                    <div>
                                        <h6>Give us a call</h6>
                                        <p>(123) 456 7890</p>
                                    </div>
                                </div>
                                <div class="contact-info-box">
                                    <span class="icon-envelope"></span>
                                    <div>
                                        <h6>Send an email</h6>
                                        <p>yourcompany@sample.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end get a quote modal-->
    <!-- ++++ Javascript libraries ++++ -->
    <!--js library of jQuery-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!--js library of bootstrap-->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!--js library for number counter-->
    <script src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <!--js library for video popup-->
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <!-- js library for owl carousel -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <!--modernizer library-->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <!--custom js-->
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>