<!DOCTYPE html>
<html lang="zxx">

<head>
<title>Qleverlabs Technologies</title>
<!-- description -->
<meta name="description" content="Qleverlabs is a curation of finding new inovative ways to achive your objectives via our sercices such as Website development, Application development, IOT">
<!-- keywords -->
<meta name="keywords" content="Mobile application, Website development, Android, IOS, HTML5, Information technologies, Mumbai, Bengaluru, Webdesign Agency, Applciation development comapny, Software development, IOT">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
<!-- ++++ favicon ++++ -->
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon.ico">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="images/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon.ico">

<!-- custom qlabs made css -->
<link rel="stylesheet" href="css/customqleverlabs.css" />
    <!-- ++++ bootstrap ++++ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- ++++ owl carousel ++++ -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <!-- ++++ magnific-popup  ++++ -->
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <!-- ++++ font IcoMoon ++++ -->
    <link rel="stylesheet" href="css/fonts.css" />
    <!-- ++++ style ++++ -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
    <!-- ++++ [if IE]>
        <script src="js/html5shiv.js"></script>
        <![endif] ++++ -->
</head>

<body class="contact-page">

	<%- include('topheader') %>

	<div class="cleardiv"></div>
	
    <!-- ++++ banner ++++ -->
    <section class="banner  o-hidden banner-inner contact-banner">
        <div class="container">
            <!--banner text-->
            <div class="banner-txt">
                <h1>Contact</h1>
                <p class="semi-bold">Get in touch with us to see how our company can help you grow
                    <br /> your business online.</p>
            </div>
            <!--end banner text-->
        </div>
    </section>
    <!-- ++++ end banner ++++ -->
    <!-- ++++ contact form design ++++ -->
    <section class="bg-white o-hidden common-form-section contact-form-wrapper">
        <div class="container">
            <!--section title -->
            <h2 class="b-clor">Send Us a Message</h2>
            <hr class="dark-line" />
            <!--end section title -->
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="customise-form contact-form">
                        <form class="email_form" method="post" id="contactUs">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-user"></span>
                                        <input type="text" id="full_name" name="full_name" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-envelope"></span>
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-telephone"></span>
                                        <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-laptop"></span>
                                        <input type="text" id="website" name="website" class="form-control" placeholder="Website">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-bubble"></span>
                                        <textarea id="message" name="message" class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <button type="submit" class="btn btn-fill">Contact us now!</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-info-box-wrapper">
                        <div class="contact-info-box">
                            <span class="icon-telephone"></span>
                            <div>
                                <h6>Give us a call</h6>
                                <p>+91 79771 88472</p>
                            </div>
                        </div>
                        <div class="contact-info-box">
                            <span class="icon-envelope"></span>
                            <div>
                                <h6>Send an email</h6>
                                <p>info@qleverlabs.com</p>
                            </div>
                        </div>
                        <div class="contact-info-box">
                            <ul class="social-links">
                                <li>
                                    <a href="#">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <span class="icon-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon-instagram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact form design -->
    <!-- google map location section start-->
    <section class="bg-white google-map-location">
        <div class="container">
            <!--section title -->
            <h2 class="b-clor text-align-center">Visit Our Work Places</h2>
            <!--end section title -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- design process steps-->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs process-model contact-us-tab" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#newYork" data-id="#map1" aria-controls="newYork" role="tab" data-toggle="tab">
                                <span class="icon-Asset-3"></span>
                                <p>Navi Mumbai</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#Dhaka" aria-controls="Dhaka" data-id="#map2" role="tab" data-toggle="tab">
                                <span class="icon-Asset-3"></span>
                                <p>Bengaluru</p>
                            </a>
                        </li>
                        
                    </ul>
                    <!-- end design process steps-->
                    <!-- Tab panes -->
                    <div class="tab-content map_tab">
                        <div role="tabpanel" class="tab-pane active" id="newYork">
                            <p class="regular-text">3rd Floor, Akshar Blue Chip IT Park, MIDC Industrial Area, Turbhe, Navi Mumbai, Maharashtra 400705</p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.87317411737!2d73.01772331446777!3d19.06931298709176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3b0d6fec60b%3A0xea8edfe01a8220a9!2sQleverlabs+Technologies!5e0!3m2!1sen!2sin!4v1531382833119"
                                height="500" style="border:0; width:100%" allowfullscreen></iframe>


                        </div>
                        <div role="tabpanel" class="tab-pane" id="Dhaka">
                            <p class="regular-text">1st floor no, B-Hive, 269, 18th D Main Road, 6th Block, Koramangala, Bengaluru, Karnataka 560095</p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d837.9497211251887!2d77.62114322916916!3d12.940346699429778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae150d240ab1b9%3A0x185d756aa5445c09!2sQleverlabs+Technologies!5e1!3m2!1sen!2sin!4v1531383205232"
                                height="500" style="border:0; width:100%" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end google map location section-->

	<%- include('bottomfooter') %>

    <!-- ++++ end footer ++++ -->
    <!--get a quote modal-->
    <div class="modal fade verticl-center-modal" id="getAQuoteModal" tabindex="-1" role="dialog" aria-labelledby="getAQuoteModal">
        <div class="modal-dialog getguoteModal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="icon-cross-circle"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="customise-form">
                                <form class="email_form" method="post">
                                    <h3>Get a Free Quote</h3>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-user"></span>
                                        <input type="text" name="full_name" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-envelope"></span>
                                        <input type="text" name="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-telephone"></span>
                                        <input type="text" name="phone" class="form-control" placeholder="Phone">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-laptop"></span>
                                        <input type="text" name="website" class="form-control" placeholder="Website">
                                    </div>
                                    <div class="form-group customised-formgroup">
                                        <span class="icon-bubble"></span>
                                        <textarea name="message" class="form-control" placeholder="Message"></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-fill full-width">GET A QUOTE
                                            <span class="icon-chevron-right"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>What’s Next?</h3>
                            <ul class="list-with-arrow">
                                <li>An email and phone call from one of our representatives.</li>
                                <li>A time & cost estimation.</li>
                                <li>An in-person meeting.</li>
                            </ul>
                            <div class="contact-info-box-wrapper">
                                <div class="contact-info-box">
                                    <span class="icon-telephone"></span>
                                    <div>
                                        <h6>Give us a call</h6>
                                        <p>(123) 456 7890</p>
                                    </div>
                                </div>
                                <div class="contact-info-box">
                                    <span class="icon-envelope"></span>
                                    <div>
                                        <h6>Send an email</h6>
                                        <p>yourcompany@sample.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end get a quote modal-->
    <!-- ++++ Javascript libraries ++++ -->
    <!--js library of jQuery-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!--js library of bootstrap-->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!--js library for number counter-->
    <script src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <!--js library for video popup-->
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <!-- js library for owl carousel -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <!--modernizer library-->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <!-- Isotope script -->
    <script type="text/javascript" src="js/isotope.min.js"></script>
    <!-- google maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPzxMzPAI5ZJhLq1wiWm7zVQEvkRGfD-M"></script>
    <script src="js/gmaps.min.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!--custom js-->
    <script type="text/javascript" src="js/script.js"></script>

<script type="text/javascript">


	$('#contactUs').submit(function (e) {
		e.preventDefault();
		//{name:req.body.firstname,s_name:req.body.lastname,subject:req.body.subject}
		var full_name = $('#full_name').val();
		var phone = $('#phone').val();
		var website = $('#website').val();
		var email = $('#cuemail').val();
		var message = $('#message').val();

		if (full_name == "" || phone == "" || website == "" || email == "" || message == "") {

			alert ("parameters missing");
			
		} else {

			$.post('/contact', { name: full_name, phone: phone, email: email, website: website, message: message,}, function (res) {
				if (res.code == 0) {
					// new PNotify({
					//    title: 'Error',
					//    text: res.message,
					//    type: 'error'
					// });
					alert ("oops");

				} else if (res.message == "success") {
					alert("done");
				}
			});
		}
	});
	
</script>







</body>

</html>