<div class="header-wrapper">

        <!--navigation-->
        <div class="container no-padding">
            <nav id="navbar-main" class="navbar main-menu">
                <!--Brand and toggle get grouped for better mobile display-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/Qleverlabs logo_2-01.png" alt="Brand" class="img-responsive" />
                    </a>
                </div>
                <!--Collect the nav links, and other content for toggling-->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

						<li>
							<a href="/">Home</a>
						</li>


                        <li class="dropdown">
                            <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                            <div class="dropdown-menu">
                                <ul class="megamenu">
                                    <li>
                                        <a href="/about">Overview</a>
                                    </li>
                                    <li>
                                        <a href="/team">Team</a>
                                    </li>
                                    <li>
                                        <a href="/career">Career</a>
                                    </li>
                                    <li>
                                        <a href="/customer-reviews">Customer Reviews</a>
                                    </li>
                                </ul>
                                <!-- End of .dropdown-menu -->
                            </div>
                        </li>


                        <li class="dropdown not-relative">
                            <a href="/services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services </a>
                            <div class="dropdown-menu dropdown-megamenu">
                                <ul class="megamenu">
									
									<li>
										<ul class="dropdown-submenu clearfix">
											<li class="submenu-heading">Development</li>
									
											<li>
												<a href="/website-development#webdevelopment">
													<i class="icon-laptop-phone"></i>Website Development</a>
											</li>
											<li>
												<a href="/website-development#prddevelopment">
													<i class="icon-magnifier"></i>Product Development</a>
											</li>
											<li>
												<a href="/website-development#ecom">
													<i class="icon-cart"></i>E-commerce</a>
											</li>
											<li>
												<a href="/website-development#iot">
													<i class="icon-server"></i>IOT</a>
                                            </li>
                                            <li>
												<a href="/website-development#mlearning">
													<i class="icon-server"></i>Machine Learning</a>
											</li>
											
										</ul>
										<!-- End of .dropdown-submenu -->
									</li>

							<li>
								<ul class="dropdown-submenu clearfix">
									<li class="submenu-heading">Mobile App</li>
							
									<li>
										<a href="/mobile-app#nativeapp">
											<i class="icon-smartphone-embed"></i>Native (Android & IOS)</a>
									</li>
									<li>
										<a href="/mobile-app#hybridapp">
											<i class="icon-smartphone-embed"></i>Hybrid</a>
									</li>
									<li>
										<a href="/mobile-app#ionicapp">
											<i class="icon-smartphone-embed"></i>Ionic</a>
									</li>
							
								</ul>
								<!-- End of .dropdown-submenu -->
							</li>

                                    <li>
                                        <ul class="dropdown-submenu clearfix">
                                            <li class="submenu-heading">Design</li>
                                            <li>
                                                <a href="/design#logs">
                                                    <i class="icon-palette"></i> Logo &amp; Branding</a>
                                            </li>
                                            <li>
                                                <a href="/design#webdesign">
                                                    <i class="icon-laptop-phone"></i> Website Design</a>
                                            </li>
                                            <li>
                                                <a href="/design#mobiledesign">
                                                    <i class="icon-phone"></i> Mobile App Design</a>
                                            </li>
                                            <li>
                                                <a href="/design#graphic&print">
                                                    <i class="icon-vector"></i> Graphic/Print Design</a>
                                            </li>
                                        </ul>
                                        <!-- End of .dropdown-submenu -->
                                    </li>
                                    <li>
                                        <ul class="dropdown-submenu clearfix">
                                            <li class="submenu-heading">Online Marketing</li>
                                            <li>
                                                <a href="/online-marketing#seo">
                                                    <i class="icon-magnifier"></i> Search Engine Optimization</a>
                                            </li>
                                            <li>
                                                <a href="/online-marketing#ppc">
                                                    <i class="icon-select2"></i> Pay-Per-Click</a>
                                            </li>
                                            <li>
                                                <a href="/online-marketing#emarketing">
                                                    <i class="icon-envelope-open"></i> Email Marketing</a>
                                            </li>
                                            <li>
                                                <a href="/online-marketing#dismarketing">
                                                    <i class="icon-news"></i> Display Marketing</a>
                                            </li>
                                            <li>
                                                <a href="/online-marketing#smm">
                                                    <i class="icon-share"></i> Social Media Marketing</a>
                                            </li>
                                            <li>
                                                <a href="/online-marketing#smsmarketing">
                                                    <i class="icon-envelope-open"></i> SMS Marketing</a>
                                            </li>
                                        </ul>
                                        <!-- End of .dropdown-submenu -->
                                    </li>
                                    <li>
										<ul class="dropdown-submenu clearfix">
											<li class="submenu-heading">Technology</li>
											
											<li>
												<a href="/technologies#html_css">
													<i class="icon-papers"></i>HTML5/CSS3</a>
                                            </li>
                                            <li>
												<a href="/technologies#php">
													<i class="icon-papers"></i>PHP</a>
											</li>
											<li>
												<a href="/technologies#angular">
													<i class="icon-papers"></i> Angular JS</a>
											</li>
											<li>
												<a href="/technologies#nodejs">
													<i class="icon-papers"></i> Node JS</a>
											</li>
											<li>
												<a href="/technologies#reactjs">
													<i class="icon-papers"></i> React JS</a>
											</li>
										</ul>
										<!-- End of .dropdown-submenu -->
									</li>
                                </ul>
                            </div>
                            <!-- End of .dropdown-menu -->
                        </li>
						<li>
							<a href="/blog-version-2">Blog</a>
						</li>
                        
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="menu-btn" data-toggle="modal" data-target="#getAQuoteModal">
                            <a class="btn btn-fill" href="#">GET A QUOTE
                                <span class="icon-chevron-right"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <!--end navigation-->
        </div>
    </div>
    <!-- End of .header-wrapper -->